+contentFor 'headerTitle'
    h1.title #{rules} started #[+dateDisplaySpan started]

+contentFor 'headerButtonLeft'
    a.button.icon-left.ion-chevron-left.button-clear(href='/') Home

+ionView
    +ionContent
        +GirlsWar_game
