#other-players.game-area
  each otherPlayers
    with onePanel
      +panelMini
    else
      .game-panel-group.card
        .panel-group-label= playerName
        each panelsOther
          +panelMini

#common-panels.game-area
  each panelsGame
    +panelFull

#own-player.game-area
  each panelsOwn
    +panelFull
