+contentFor 'headerTitle'
  h1.title My games

+ionView
  +ionContent
    .list
      each games
        +ionItem path='game/:_id'
          | Game of “#{rules}” created #[+dateDisplaySpan created] by #{space}
          if isOwner
            | you
          else
            with owner
              a.profile-link(href='/u/#{username}')= displayName
          if started
            | , started #[+dateDisplaySpan started]

+contentFor 'footer'
  +homeTabs
