@require 'nib'

// Ionic config obviously has to come before the imports

@import '../.meteor/local/build/programs/server/assets/packages/koolaid1551_ionic-stylus/_ionic'
@import '../.meteor/local/build/programs/server/assets/packages/koolaid1551_ionicons-stylus/_ionicons'

.platform-web .content
  padding 10px

// no rounded avatars; players can round theirs if they want to
.item-avatar > img:first-child
  border-radius 0

.item-help
  color lighten($dark, 50%)
  border-top none
  padding-top 0
  padding-left 32px

.item:focus
  background-color red

a.profile-link
  text-decoration none
  color inherit

  &:hover
    text-decoration underline

.align-right
  text-align right

.game-panel
  position relative

  .panel-label
    color lighten($dark, 50%)
    position absolute
    text-align center
    width 100%
    font-size 75%

    &:before
      margin-right 0.8rem

.game-card
  .item
    border-top none

    &.item-narrow
      padding-top: 0
      padding-bottom: 0
      font-size: 80%

      & + .item
        padding-top: 3px

    i
      font-style: italic

    .starter-marker
      float right
      text-decoration underline

    &.card-text
      white-space: pre-wrap

      &::first-line
        font-weight bold
        font-size 110%

      &:before
        display inline-block
        margin-right 0.8rem
