@require 'nib'
@require 'rupture'

// Ionic config obviously has to come before the imports

@import '../.meteor/local/build/programs/server/assets/packages/koolaid1551_ionic-stylus/_ionic'
@import '../.meteor/local/build/programs/server/assets/packages/koolaid1551_ionicons-stylus/_ionicons'

$mediumdark = lighten($dark, 50%)

.platform-web .content
  padding 10px

// no rounded avatars; players can round theirs if they want to
.item-avatar > img:first-child
  border-radius 0

.item-help
  color $mediumdark
  border-top none
  padding-top 0
  padding-left 32px

.item:focus
  background-color red

a.profile-link
  text-decoration none
  color inherit

  &:hover
    text-decoration underline

.align-right
  text-align right

.game-panel
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-items stretch

  .panel-label
    color $mediumdark
    text-align center
    width 100%
    font-size 75%

    &:before
      margin-right 0.8rem

  .game-card-container
    flex 0 0 250px
    width 250px
    display flex

.game-card
  flex 1 1 0
  margin-top 0

  .item
    border-top none

    &.item-narrow
      padding-top: 0
      padding-bottom: 0
      font-size: 80%

      & + .item
        padding-top: 3px

    i
      font-style: italic

    .starter-marker
      float right
      text-decoration underline
      text-decoration-color $mediumdark

    &.card-text
      white-space: pre-wrap

      &::first-line
        font-weight bold
        font-size 110%

      &:before
        display inline-block
        margin-right 0.8rem
