with ..
  if type.draggable
    .item.component.counter-token(class='#{type.name}-token', draggable='true')= type.displayNameSingular
  else
    .item.counter-token(class='#{type.name}-token')= type.displayNameSingular
