if count
  if uiType.draggable
    .item.component.counter-summary(class='#{uiType.name}-summary', draggable='true')= summary
  else
    .item.counter-summary(class='#{uiType.name}-summary')= summary
