@require 'nib'
@require 'rupture'

// Ionic config obviously has to come before the imports

@import '.meteor/local/build/programs/server/assets/packages/koolaid1551_ionic-stylus/_ionic'
@import '.meteor/local/build/programs/server/assets/packages/koolaid1551_ionicons-stylus/_ionicons'

$mediumdark = lighten($dark, 50%)
$supercalm = lighten($calm, 90%)

.platform-web .content
  padding 10px

// no rounded avatars; players can round theirs if they want to
.item-avatar > img:first-child
  border-radius 0

.item-help
  color $mediumdark
  border-top none
  padding-top 0
  padding-left 32px

.item:focus
  background-color red

a.profile-link
  text-decoration none
  color inherit

  &:hover
    text-decoration underline

.align-right
  text-align right

.game-area
.game-panel-group
.game-panel:not(.game-panel-mini)
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-items stretch

.game-panel-group
  .panel-group-label
    color $mediumdark
    text-align center
    width 100%

  .game-panel-mini
    .panel-title-attribution
      display none

.game-panel
  min-height 5em
  transition(background-color 0.5s ease-out)

  .panel-label
    color $mediumdark
    text-align center
    width 100%
    font-size 75%
    padding 0 2em

    &:before
      margin-right 0.8rem

  .game-card-container
    flex 0 0 250px
    width 250px
    display flex

  &.drag-allowed
    background-color $supercalm
    transition(background-color 0.1s ease-in)

    // fix firing dragleave for children
    *
      pointer-events: none

  .panel-counters
    border-top none
    text-align center

    .component-summary
      border-top none

.game-panel-mini
  .item
    border none
    padding 5px
    text-align center
    background-color transparent

.game-card
  flex 1 1 0
  margin-top 0

  .item
    border-top none
    border-bottom none

    i
      font-style italic

    &.card-heading
      padding 0 3px
      font-size 80%

      .card-cost
      .card-type
      .starter-marker
        vertical-align top

      .card-cost
        float left
        font-size 300%
        line-height 100%
        margin-right 5px
        margin-top 4px

      .starter-marker
      .card-type
        font-size 75%

      .card-type
        display inline-block

      .starter-marker
        float right
        text-decoration underline
        text-decoration-color $mediumdark

    &.traits-and-skills
      margin-top 9px
      border-top none

    &.card-text
      white-space normal

      .special-text
        white-space pre-wrap

      .special-title
        display inline-block
        font-weight bold
        font-size 110%

      .special-label
        display inline-block
        font-style italic
        font-size 60%
        vertical-align top

      &:before
        display inline-block
        margin-right 0.8rem

.token
  width auto
