+contentFor 'headerTitle'
    h1.title Not found

+contentFor 'headerButtonLeft'
    a.button.icon-left.ion-chevron-left.button-clear(href='/') Back

+ionView
    +ionContent
        p Sorry, we don't have one of those around here.
