.game-panel.game-panel-mini.card(id=id class=panelClass)
  i.panel-label(class=icon)
    i.panel-title-attribution= titleAttribution
    = panel.title
  each controller.summary
    .item.component-summary
      = text
      if provider
        i.provider.ion-android-hand(draggable='true')
