.card
    with user
        .item.item-avatar
            img(src=avatarUrl)
            h2
            if ../showLink
                a.profile-link(href='/u/#{username}')= displayName
            else
                = displayName
            .item.item-body
                p= profile.bio
        +Template.contentBlock
