#lineup.game-panel.card
  i.panel-label.ion-search Scouting Lineup
  each components 'lineup'
    +GirlsWar_card

with thisPlayer

  #this-player-hand.game-panel.card
    i.panel-label.ion-android-hand Your hand
    each components 'hand'
      +GirlsWar_card
